[submodule "include/osh-addons"]
	path = submodules/osh-addons
	url = git@github.com:opensensorhub/osh-addons.git
	branch = master
[submodule "include/osh-core"]
	path = submodules/osh-core
	url = git@github.com:opensensorhub/osh-core.git
	branch = update-moduleutils
[submodule "submodules/socom-addons"]
	path = submodules/socom-addons
	url = git@github.com:Botts-Innovative-Research/socom-addons.git
[submodule "submodules/botts-addons"]
	path = submodules/botts-addons
	url = git@github.com:Botts-Innovative-Research/botts-addons.git
