[submodule "include/osh-addons"]
	path = submodules/osh-addons
	url = https://github.com/opensensorhub/osh-addons.git
	branch = maint-v1
[submodule "include/osh-core"]
	path = submodules/osh-core
	url = https://github.com/Botts-Innovative-Research/osh-core-11-backport.git
	branch = main
